<div class="modal fade" id="view-media-file-details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">File Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered" *ngIf="file">
            <tbody>
              <tr>
                <td width="30%"><strong>File Name</strong></td>
                <td width="70%">{{file.name}}</td>
              </tr>

              <tr>
                <td><strong>File Type</strong></td>
                <td>{{file.type}}</td>
              </tr>

              <tr>
                  <td><strong>File Path</strong></td>
                  <td>{{file.path}}</td>
                </tr>

              <tr>
                <td><strong>Comments</strong></td>
                <td>{{file.comment ? file.comment : 'No comments found for this file'}}</td>
              </tr>

              <tr>
                <td><strong>Categories</strong></td>
                <td>Test category 1; Test category 2;</td>
              </tr>

              <tr>
                <td><strong>Playlists</strong></td>
                <td>Test playlist 1; Test playlist 2</td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="!file">No file is selected</p>
        </div>
      </div>
    </div>
  </div>
  