<div class="left-sidebar">
  <div class="state-management-toolbar mt-4 mb-4 ml-2">
    <div 
    class="toolbar-btn d-inline"
    data-toggle="tooltip" 
    data-placement="top" 
    title="Save current state"
    (click)="saveState()">
    <i class="fas fa-save"></i>
  </div>
    <div 
    class="toolbar-btn d-inline" 
    data-toggle="tooltip" 
    data-placement="top" 
    title="Load state from local drive"
    (click)="loadState()">
    
    <i class="fas fa-folder-open"></i>
  </div>
    <hr>
  </div>
  <ul class="menu-items">
    <li>
      <a class="menu-link" [routerLink]="['/']" [routerLinkActiveOptions]="{exact:
        true}" [routerLinkActive]="['active']">
        <i class="fas fa-file-alt pr-3"></i>Files
      </a>
    </li>
    <li>
      <a class="menu-link" [routerLink]="['/playlists']" [routerLinkActive]="['active']">
        <i class="fas fa-list-ul pr-3"></i> Playlists
      </a>
    </li>
    <li>
      <a class="menu-link" [routerLink]="['/categories']" [routerLinkActive]="['active']">
        <i class="fas fa-tags pr-3"></i>Categories
      </a>
    </li>
  </ul>
</div>
