<div class="file-list">
  <table class="table file-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <!-- <th>File Size</th> -->
      </tr>
    </thead>

    <tbody>
      <tr (dblclick)="doubleClick()" *ngFor="let file of files; let i = index" [class.clicked]="file.id === selectedFileId" (click)="selectFile(file.id)">
        <td>
          <span class="filename">{{file.name}}</span>
        </td>
        <td>{{file.type}}</td>
        <!-- <td>{{file.file_size}}</td> -->
      </tr>
    </tbody>
  </table>

  <ng-container *ngIf="!files.length">No files found. Upload some files by clicking on the "New" button.</ng-container>
  
</div>

<!-- <context-menu>
  <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
    <i class="fas fa-folder mr-2"></i> Move to
  </ng-template>

  <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
      <i class="far fa-edit mr-2"></i> Rename
  </ng-template>
  <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
      <i class="fas fa-info-circle mr-2"></i> File Info
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item (execute)="showMessage($event.item.name + ' said: ' + $event.item.otherProperty)">
      <i class="fas fa-trash mr-2"></i> Delete
  </ng-template>
</context-menu> -->
