<div class="modal fade" id="view-media-file-details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">File Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered" *ngIf="file">
            <tbody>
              <tr>
                <td width="30%"><strong>File Name</strong></td>
                <td width="70%">{{file.name}}</td>
              </tr>

              <tr>
                <td><strong>File Type</strong></td>
                <td>{{file.type}}</td>
              </tr>

              <tr>
                  <td><strong>File Path</strong></td>
                  <td>{{file.path}}</td>
                </tr>

              <tr>
                <td><strong>Comments</strong></td>
                <td>{{file.comment ? file.comment : 'No comments found for this file'}}</td>
              </tr>

              <tr>
                <td><strong>Categories</strong></td>
                <td>
                  <p *ngIf="!file.categories">No categories assigned to this file</p>
                  <p *ngIf="file.categories">
                    <ng-container *ngFor="let category of file.categories; let i = index">
                      <div class="badge badge-primary d-inline mr-2">
                        {{category.name}}
                      </div>
                    </ng-container>
                  </p>
                </td>
              </tr>

              <tr>
                <td><strong>Playlists</strong></td>
                <td>
                    <p *ngIf="!file.playlists">No playlists assigned to this file</p>
                    <p *ngIf="file.playlists">
                      <ng-container *ngFor="let playlist of file.playlists; let i = index">
                        <div class="badge badge-primary d-inline mr-2">
                          {{playlist.name}}
                        </div>
                      </ng-container>
                    </p>
                  </td>
              </tr>

              <tr>
                <td><strong>Image</strong></td>
                <td>
                  <div class="d-block text-center">
                    <img width="150" height="150" class="img mb-2 img-thumbnail" *ngIf="file.image.path" [src]="'file://' + file.image.path" alt="">                  
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="!file">No file is selected</p>
        </div>
      </div>
    </div>
  </div>
  