<div class="modal animated zoomIn" id="file-upload-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Files</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>File Type(s)</label>
        <ng-multiselect-dropdown [placeholder]="'File types'" [data]="fileTypes" [(ngModel)]="selectedFileTypes" [settings]="dropdownSettings">
        </ng-multiselect-dropdown>

        <button (click)="showFileUpload()" class="btn btn-upload mt-2 btn-block">Select Files</button>
        <button #close data-dismiss="modal" hidden></button>
      </div>
    </div>
  </div>
</div>

<app-file-saver (update)="closeModal()"></app-file-saver>