<div class="left-sidebar">
  <div class="state-management-toolbar mb-4 ml-2">
    <div 
    class="toolbar-btn d-inline"
    data-toggle="tooltip" 
    data-placement="top" 
    title="Save current state"
    (click)="saveState()">
    <i class="fas fa-save"></i>
  </div>
    <div 
    class="toolbar-btn d-inline" 
    data-toggle="tooltip" 
    data-placement="top" 
    title="Load state from local drive"
    (click)="loadState()">
    
    <i class="fas fa-folder-open"></i>
  </div>

  <div 
    class="toolbar-btn d-inline float-right" 
    data-toggle="tooltip" 
    data-placement="top" 
    title="Reset the current state"
    (click)="resetStateConfirm()">    
    <i class="fas fa-redo"></i>
  </div>
  <div class="clearfix"></div>
    <hr>
  </div>
  <ul class="menu-items">
    <li>
      <a class="menu-link" [routerLink]="['/files']" [routerLinkActive]="['active']">
        <i class="fas fa-file-alt pr-3"></i>Files
      </a>
    </li>
    <li>
      <a class="menu-link" [routerLink]="['/playlists']" [routerLinkActive]="['active']">
        <i class="fas fa-list-ul pr-3"></i> Playlists
      </a>
    </li>
    <li>
      <a class="menu-link" [routerLink]="['/categories']" [routerLinkActive]="['active']">
        <i class="fas fa-tags pr-3"></i>Categories
      </a>
    </li>
  </ul>
</div>
<button hidden #openConfirmModal data-toggle="modal" data-target="#reset-state-confirm-modal"></button>

<app-confirm-modal (confirmed)="resetState()" modalId="reset-state-confirm-modal" confirmText="Are you sure you want to reset the current state. You will lose all the unsaved changes. This action is irreversible?" confirmButtonText="Reset"></app-confirm-modal>
