.menu-items {
  list-style: none;
  padding: 0px;
}

.menu-link {
  font-size: 15px;
  padding: 15px;
  color: #575757;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-weight: 500;
}

.menu-link {
  color: #575757;
}

.menu-items li a:hover {
  text-decoration: none;
}

.active {
  background-color: rgba(60, 163, 163, 0.527);
  color: #057575;
}

.menu-link:hover:not(.active) {
  background-color: rgba(204, 204, 204, 0.521);
  cursor: pointer;
}


.menu-link {
  display: block;
  width: inherit;
}
