
/* File explorer CSS */
.sortby-icons span {
  padding: 5px;
  border-radius: 50px;
  padding-right: 15px;
  padding-left: 15px;
}
.sortby-icons span.selected {
  background-color: #cccccc79;
  box-shadow: 1px 1px 1px #8f8f8f5b;
}

.sortby-icons span:hover:not(.selected) {
  background-color: #cccccc79;
  box-shadow: 1px 1px 1px #8f8f8f5b;
  cursor: pointer;
}

/* New button css */
.new-button button {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  background-color: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.336);
}

.new-button button span {
  padding: 10px;
  font-size: 16px;
}

.new-button button span i {
  margin-right: 10px;
}