<div class="file-explorer">
  <div class="options-bar">
      <div class="new-button m-1 mb-1 dropdown">
          <button id="newDropdownMenu" data-toggle="dropdown" class="btn btn-custom">
            <span><i class="fas fa-plus-square mr-2"></i> New </span>
          </button>
  
          <div class="dropdown-menu new-dropdown" aria-labelledby="newDropdownMenu">
              <a data-toggle="modal" data-target="#file-upload-modal" class="dropdown-item" href="#"><i class="fas fa-file mr-2"></i> File Upload</a>
              <a data-toggle="modal" data-target="#folder-upload-modal" class="dropdown-item" href="#"><i class="fas fa-folder mr-2"></i> Folder Upload</a>
            </div>
        </div>
    <hr>
  </div>
  <ng-container *ngIf="selectedView === viewOptions.List">
      <app-file-listview [files]="files"></app-file-listview>
  </ng-container>
  <ng-container *ngIf="selectedView === viewOptions.Grid">
    <app-file-gridview [files]="files"></app-file-gridview>
  </ng-container>

</div>

<!-- Modals -->
<app-file-upload-modal (update)="updateFileList()"></app-file-upload-modal>
<app-folder-upload-modal></app-folder-upload-modal>