<div class="file-explorer">
  <div class="options-bar">
    <div class="float-left">
      <div class="new-button m-1 mb-1 dropdown">
        <button id="newDropdownMenu" data-toggle="dropdown" class="btn btn-custom">
          <span>
            <i class="fas fa-plus-square mr-2"></i> New </span>
        </button>

        <div class="dropdown-menu new-dropdown" aria-labelledby="newDropdownMenu">
          <a data-toggle="modal" data-target="#file-upload-modal" class="dropdown-item" href="#">
            <i class="fas fa-file mr-2"></i> File Upload</a>
          <a data-toggle="modal" data-target="#folder-upload-modal" class="dropdown-item" href="#">
            <i class="fas fa-folder mr-2"></i> Folder Upload</a>
        </div>
      </div>
    </div>
    <div class="float-right mt-3">
        <!-- View file button -->
        <div 
        data-toggle="modal" 
        data-target="#view-media-file-details" 
        [class.disabled]="selectedFileId === undefined" 
        class="toolbar-btn button-add d-inline"><i class="fas fa-eye"></i></div>

        <!-- Edit file button -->
        <div data-toggle="modal" data-target="#edit-media-file-details" 
        [class.disabled]="selectedFileId === undefined" 
        class="toolbar-btn button-add d-inline"><i class="fas fa-edit"></i></div>

        <!-- Delete file button -->
        <div (click)="deleteFile()" [class.disabled]="selectedFileId === undefined" 
        class="toolbar-btn button-add d-inline "><i class="fas fa-trash"></i></div>
      </div>
  </div>


  <ng-container *ngIf="selectedView === viewOptions.List">
    <app-file-listview (selectionChange)="changeSelectedFileId($event)" [files]="files"></app-file-listview>
  </ng-container>
  <ng-container *ngIf="selectedView === viewOptions.Grid">
    <app-file-gridview [files]="files"></app-file-gridview>
  </ng-container>

</div>

<!-- Modals -->
<app-file-upload-modal (update)="updateFileList()"></app-file-upload-modal>
<app-folder-upload-modal></app-folder-upload-modal>
<app-view-media-file-modal *ngIf="selectedFile !== undefined" [file]="selectedFile"></app-view-media-file-modal>
<app-edit-media-file-modal (update)="updateFileList()" *ngIf="selectedFile !== undefined" [file]="selectedFile"></app-edit-media-file-modal>
